.container {
  display: flex;
  height: 100vh;

  .login-container {
    margin: auto;

    .title {
      font-weight: bold;
      text-align: center;
      margin-bottom: 7vh;
    }

    .username {
      margin: 3vh 0;
      
      button {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        border: solid #d3d3d3 1px;
      }

      .dropdown-menu {
        width: 100%;

        a{
          transition: ease-in-out 100ms;
          &:hover {
            background-color: #ccf1ff;
          }
        }
      }
    }

    .login-btn {
      margin-top: 10vh;
      width: 100%;
    }
  }
}