.Home {
  .container {
    display: flex;
    align-content: center;
    justify-content: center;

    .home-container {
      width: 90vw;
      margin-top: 1em;

      .header {
        display: flex;
        justify-content: space-between;

        h2 {
          padding-top: 4px;
          min-width: 70vw;
          @media screen and (max-width: 359px){
            font-size: x-large;
            margin-bottom: 1rem;
          }
        }

        .dropdown-toggle::after {
          display: none;
        }
      }

      .card-wrapper {
      }

      .add-btn {
        width: 100%;
      }
    }
  }
}
