.container {
  display: flex;
  align-content: center;
  justify-content: center;

  .home-container {
    width: 80vw;
    margin-top: 1em;

    .menu {
      .dropdown-toggle::after {
        display: none;
      }
    }

    .card-wrapper {
    }

    .add-btn {
      width: 100%;
    }
  }
}
