.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #e9ecef;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 15px;
  transition: all ease-in-out 150ms;
  margin: 15px 0;

  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }

  .machine {
    flex: 4;

    p {
      margin: 0;
      font-size: 12px;
    }

    h3 {
      padding-top: 5px;
      margin: 0;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .location {
    flex: 5;

    p {
      margin: 0;
      font-size: 12px;
    }

    h3 {
      padding-top: 5px;
      margin: 0;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .number {
    flex: 1;

    p {
      margin: 0;
      font-size: 12px;
    }

    h3 {
      padding-top: 5px;
      margin: 0;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .date {
    width: 100%;
    margin-top: 5px;

    p {
      display: inline;
      font-size: 14px;
    }
  }
}
