.Users {
  .container {
    display: flex;
    align-content: center;
    justify-content: center;

    .users-container {
      width: 90vw;
      margin-top: 1em;
      
      .header {
        display: flex;
        justify-content: space-between;

        .dropdown-toggle::after {
          display: none;
        }
      }

      .btn-container {
        margin-top: 10px;
        button {
          width: 100%;
          margin: 5px 0;
          font-weight: bolder;
        }
      }
    }
  }
}
