.Users {
  .container {
    display: flex;
    align-content: center;
    justify-content: center;

    .users-container {
      width: 90vw;
      margin-top: 1em;

      .header {
        display: flex;
        justify-content: space-between;

        h2 {
          padding-top: 4px;
          min-width: 70vw;
          @media screen and (max-width: 359px){
            font-size: x-large;
            margin-bottom: 1rem;
          }
        }

        .dropdown-toggle::after {
          display: none;
        }
      }

      .add-user-btn {
        margin: 1rem 0;
        width: 100%;
      }

      .btn-container {
        margin-top: 10px;
        button {
          width: 100%;
          margin: 5px 0;
          font-weight: bolder;
        }
      }
    }
  }
}
